image: "python:3.7"

before_script:
  - chmod 600 ${ID_RSA}
  - ./test_lsf_connection.sh ${ID_RSA}
  - pip install -r requirements.txt

stages:
  - Static Analysis
  - Test

pylint:
  stage: Static Analysis
  script:
  - find . -iname "*.py" | xargs pylint

unit_tests:
  stage: Test
  script:
  - CONFIG_FILE_PATH='./configurations/ci_unit_tests_config.yml' python -m unittest

functional_tests:
  stage: Test
  script:
  - rm -rf app/static/jobs_output || true
  - rm -rf jobs_run || true
  - CONFIG_FILE_PATH='./configurations/ci_functional_tests_config.yml' FLASK_APP=app flask run > functional_tests_run.log 2>&1 &
  - sleep 10
  - head functional_tests_run.log
  - SERVER_PID=$!
  - pushd app/functional_tests
  - ./run_functional_tests.py || true
  - popd
  - ls jobs_run/TEST-qb7ElDakyCL5UUxKDIoyc7KFU0fArrVAsMD1xLT69zM=
  - cat functional_tests_run.log
  - which bash
  - which python
  - ls /usr/bin/env
  - kill $SERVER_PID
  - rm -rf app/static/jobs_output
  - rm -rf jobs_run
