image: "python:3.7"

before_script:
  - pip install -r requirements.txt

stages:
  - QA
  - Test
  - DeployToStaging

# ----------------------------------------------------------------------------------------------------------------------
# QA
# ----------------------------------------------------------------------------------------------------------------------
pylint:
  stage: QA
  script:
  - echo 'disabled temporarily'
#  - find . -iname "*.py" | xargs pylint

# ----------------------------------------------------------------------------------------------------------------------
# Tests
# ----------------------------------------------------------------------------------------------------------------------
unit_tests:
  stage: Test
  script:
  - CONFIG_FILE_PATH='./configurations/ci_unit_tests_config.yml' python -m unittest

functional_tests:
  stage: Test
  script:
  - rm -rf app/static/jobs_output || true
  - rm -rf jobs_run || true
  - CONFIG_FILE_PATH='./configurations/ci_functional_tests_config.yml' FLASK_APP=app flask run > functional_tests_run.log 2>&1 &
  - sleep 5
  - head functional_tests_run.log
  - SERVER_PID=$!
  - pushd app/functional_tests
  - ./run_functional_tests.py
  - popd
  - kill $SERVER_PID
  - rm -rf app/static/jobs_output
  - rm -rf jobs_run

# ----------------------------------------------------------------------------------------------------------------------
# Deployment to staging
# ----------------------------------------------------------------------------------------------------------------------
deploy_to_staging:
  stage: DeployToStaging
  image:
    name: lachlanevenson/k8s-kubectl:latest
    entrypoint: ["/bin/sh", "-c"]
  when: manual
  only:
  - staging
  environment:
    name: staging
    url: https://staging.example.com
  before_script:
  - ''
  script:
  - echo $KUBE_URL_HH

