image: "python:3.7"

before_script:
  - ping -c 1 noah-login
  - hostname
  - ssh-keygen -b 2048 -t rsa -q -N ""
  - ls -la ~/.ssh
  - pip install -r requirements.txt

stages:
  - Static Analysis
  - Test

pylint:
  stage: Static Analysis
  script:
  - find . -iname "*.py" | xargs pylint

unit_test:
  stage: Test
  script:
  - python -m unittest
