image: "python:3.7"

before_script:
  - echo ${ID_RSA}
  - pip install -r requirements.txt

stages:
  - Static Analysis
  - Test

pylint:
  stage: Static Analysis
  script:
  - find . -iname "*.py" | xargs pylint

unit_test:
  stage: Test
  script:
  - python -m unittest
