version: '3.7'

x-build-args: &build_args
  INSTALL_PYTHON_VERSION: 3.7

services:
  delayed-jobs-server-dev:
    build:
      context: .
      target: development-server
      args:
        <<: *build_args
    image: chembl/delayed-jobs-server:dev
    environment:
      - CONFIG_FILE_PATH=/app/config.yml
    ports:
    - "5000:5000"
  delayed-job-status-daemon-dev:
    build:
      context: .
      target: job-status-daemon
      args:
        <<: *build_args
    image: chembl/delayed-jobs-status-daemon:dev
    environment:
    - CONFIG_FILE_PATH=/app/config.yml # make sure to copy the config.yml file when using this
  delayed-jobs-server-prod:
    build:
      context: .
      target: production-server
      args:
        <<: *build_args
    image: "${IMAGE_TAG:-chembl/delayed-jobs-server:prod}"
    ports:
    - "8080:8080"