apiVersion: apps/v1
kind: Deployment
metadata:
  name: delayed-jobs-server
  namespace: <NAMESPACE>
spec:
  replicas: 1
  selector:
    matchLabels:
      app: delayed-jobs
  template:
    metadata:
      labels:
        app: delayed-jobs
    spec:
      securityContext:
        runAsUser: <UID>
        runAsGroup: <GID>
      containers:
      - name: delayed-jobs-api
        image: <IMAGE_TAG>
        imagePullPolicy: Always
        envFrom:
        - configMapRef:
            name: <CONFIG_MAP>
        volumeMounts:
        - name: nfs-volume
          mountPath: <NFS_MOUNT_PATH>
        - name: id-rda-lsf
          mountPath: '/etc/lsf/id_rsa'
          readOnly: true
      volumes:
        - name: nfs-volume
          nfs:
            server: <NFS_FQDN>
            path: <NFS_PATH>
        - name: id-rda-lsf
          secret:
            secretName: <ID_RSA_SECRET_NAME>

---
apiVersion: v1
kind: Service
metadata:
  name: delayed-jobs
  namespace: <NAMESPACE>
spec:
  type: NodePort
  selector:
    app: delayed-jobs
  ports:
  - port: 8080
    targetPort: 8080
