apiVersion: apps/v1
kind: Deployment
metadata:
  name: delayed-jobs-server
  namespace: <NAMESPACE>
spec:
  replicas: 1
  selector:
    matchLabels:
      app: delayed-jobs
  template:
    metadata:
      labels:
        app: delayed-jobs
    spec:
      containers:
      - name: delayed-jobs-api
        image: <IMAGE_TAG>
        imagePullPolicy: Always
        envFrom:
        - configMapRef:
            name: <CONFIG_MAP>
        volumeMounts:
        - name: nfs-volume
          mountPath: /nfs/public/rw/chembl
      volumes:
        - name: nfs-volume
          nfs:
            server: <NFS_FQDN>
            path: <NFS_PATH>

---
apiVersion: v1
kind: Service
metadata:
  name: delayed-jobs
spec:
  type: NodePort
  selector:
    bb: delayed-jobs
  ports:
  - port: 8080
    targetPort: 8080
    nodePort: 30001
