---
swagger: '2.0'
info:
  description: 'API that runs jobs using the LSF Cluster'
  version: '1.0.0'
  title: 'Delayed Jobs API'
  contact:
    email: 'chembl-help@ebi.ac.uk'
  license:
    name: "Apache 2.0"
    url: "http://www.apache.org/licenses/LICENSE-2.0.html"
#host: Will be set dynamically by Swagger Description Blueprint
#basePath: Will be set dynamically by Swagger Description Blueprint
tags:
- name: 'status'
  description: 'Endpoints related to the status of the jobs'
- name: 'submission'
  description: 'Endpoints related to the submission of jobs'
schemes:
- "https"
- "http"
paths:
  /job/{jobId}:
    get:
      tags:
      - 'status'
      summary: 'Get status of a job by ID'
      description: 'Returns a single job'
      operationId: 'get_job_status_by_id'
      produces:
      - 'application/json'
      parameters:
      - name: "jobId"
        in: "path"
        description: "ID of job to return"
        required: true
        type: 'string'
      responses:
        "200":
          description: "successful operation"
          schema:
            $ref: "#/definitions/Pet"
        "400":
          description: "Invalid ID supplied"
        "404":
          description: "Pet not found"
  /submit/test_job:
    post:
      tags:
      - 'submission'
      summary: 'Submits a Job that tests the system'
      operationId: 'submit_test_job'
      consumes:
      - 'multipart/form-data'
      produces:
      - 'application/json'
      parameters:
      - name: 'instruction'
        in: 'formData'
        description: "How do you want the job to behave"
        required: true
        type: 'string'
        enum: ['RUN_NORMALLY', 'FAIL']
      - name: 'seconds'
        in: 'formData'
        description: 'The amount of seconds that the job will run for'
        required: true
        type: integer
        format: int64
        enum: [1, 2, 4, 8, 16, 32, 64, 128, 256, 512]
      - name: 'api_url'
        in: 'formData'
        description: 'The url of an API to test a call to it during the job run'
        required: true
        type: 'string'
        default: 'https://www.ebi.ac.uk/chembl/api/data/similarity/CN1C(=O)C=C(c2cccc(Cl)c2)c3cc(ccc13)[C@@](N)(c4ccc(Cl)cc4)c5cncn5C/80.json'
      - name: 'input1'
        in: 'formData'
        description: 'Input File 1'
        required: true
        type: 'file'
      - name: 'input2'
        in: 'formData'
        description: 'Input File 2'
        required: true
        type: 'file'
      responses:
        "200":
          description: "successful operation"
          schema:
            $ref: "#/definitions/SubmissionResponse"
      security:
      - petstore_auth:
        - "write:pets"
        - "read:pets"
      x-swagger-router-controller: "swagger_server.controllers.pet_controller"

securityDefinitions:
  petstore_auth:
    type: "oauth2"
    authorizationUrl: "http://petstore.swagger.io/oauth/dialog"
    flow: "implicit"
    scopes:
      write:pets: "modify pets in your account"
      read:pets: "read your pets"
  api_key:
    type: "apiKey"
    name: "api_key"
    in: "header"
definitions:
  SubmissionResponse:
    type: "object"
    properties:
      job_id:
        type: "string"
